* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  background: #0f0f0f;
  color: #fff;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
#sidebar {
  width: 220px;
  background: #1b1b1b;
  padding: 15px;
}

.tool {
  width: 100%;
  margin-bottom: 6px;
  padding: 8px;
  background: #2d2d2d;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* WORKSPACE */
main {
  flex: 1;
  padding: 15px;
}

#workspace {
  position: relative;
  height: calc(100% - 40px);
  border: 2px dashed #555;
  background: #111;
}

/* COMPONENTE */
.component {
  position: absolute;
  cursor: grab;
}

.component img {
  width: 120px; /* escala -50% */
  display: block;
}

/* BORNES */
.borne {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  cursor: crosshair;
}

.borne span {
  position: absolute;
  top: -14px;
  left: -6px;
  font-size: 10px;
  color: #fff;
}

/* FIOS */
#wires {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wire {
  stroke: #ffcc00;
  stroke-width: 2;
}
