/* SIDEBAR */
#sidebar {
  width: 220px;
  background: #1b1b1b;
  padding: 15px;
}

.tool {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  background: #2d2d2d;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: left;
}

.tool:hover {
  background: #444;
}

/* COMPONENTES */
.component {
  position: absolute;
  cursor: grab;
}

.component img {
  display: block;
}

/* BOTÕES (para que fiquem visíveis e arrastáveis) */
#sidebar .tool {
  width: 100%;
  margin-bottom: 10px;
}

.component.botao_liga img,
.component.botao_desliga img,
.component.emergencia img {
  width: 70px;
}
