/* TAMANHOS PADRÃO */
.component img {
    width: 90px;
    height: auto;
}

/* DISJUNTOR MOTOR +50% */
.component.disjuntor_motor img {
    width: 135px;
}

/* CONTATOR +50% */
.component.contator img {
    width: 135px;
}

/* RELÉ TÉRMICO +50% */
.component.rele_termico img {
    width: 135px;
}

/* MOTOR +100% */
.component.motor img {
    width: 180px;
}

/* BOTÕES (mantém proporcional) */
.component.botao_liga img,
.component.botao_desliga img,
.component.emergencia img {
    width: 70px;
}
