body {
  background: #111;
  margin: 0;
  font-family: Arial, sans-serif;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* CONTATOR */
#contator {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 350px;
}

#contator img {
  width: 100%;
  display: block;
  pointer-events: none;
}

/* BORNES */
.borne {
  position: absolute;
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50%;
  cursor: crosshair;
}

/* SVG */
#wires {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
