body {
  background: #111;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* CONTATOR */
#contator {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 380px;
}

#contator img {
  width: 100%;
  display: block;
  pointer-events: none;
}

/* BORNES */
.borne {
  position: absolute;
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50%;
  cursor: crosshair;
}

/* SVG DOS FIOS */
#wires {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
