* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    color: #fff;
}

#app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
#sidebar {
    width: 220px;
    background: #1b1b1b;
    padding: 15px;
}

#sidebar h2 {
    margin-top: 0;
}

.tool {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    background: #2d2d2d;
    color: #fff;
    border: none;
    cursor: pointer;
}

.tool:hover {
    background: #444;
}

/* MAIN */
#main {
    flex: 1;
    padding: 15px;
}

#workspace {
    position: relative;
    width: 100%;
    height: calc(100% - 90px);
    border: 2px dashed #555;
    background: #111;
}

/* COMPONENTE BASE */
.component {
    position: absolute;
    width: 220px;
    height: 260px;
    background: #2a2a2a;
    border: 1px solid #777;
    border-radius: 6px;
    cursor: grab;
}

.component-header {
    text-align: center;
    padding: 6px;
    font-weight: bold;
    border-bottom: 1px solid #555;
}

/* BORNE */
.borne {
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

.borne span {
    position: absolute;
    top: -18px;
    left: -6px;
    font-size: 11px;
}

/* POSIÇÕES PADRÃO */
.top-row { top: 35px; }
.bottom-row { bottom: 20px; }

.left { left: 20px; }
.center { left: 50%; transform: translateX(-50%); }
.right { right: 20px; }

.col-right { right: 20px; }
.col-left { left: 20px; }
