* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

/* MENU LATERAL */
#sidebar {
  width: 220px;
  background: #1f1f1f;
  padding: 15px;
}

#sidebar h2 {
  margin-bottom: 10px;
}

#sidebar button {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  background: #333;
  border: none;
  color: #fff;
  cursor: pointer;
}

#sidebar button:hover {
  background: #555;
}

/* ÁREA PRINCIPAL */
#main {
  flex: 1;
  padding: 20px;
}

/* PAINEL */
#workspace {
  position: relative;
  width: calc(100% - 260px); /* sobra espaço para o menu */
  height: 420px;
  margin-left: 260px;        /* empurra para a direita */
  margin-top: 10px;

  border: 2px dashed #555;
  background: rgba(255,255,255,0.02);
  overflow: hidden;
}

}

/* COMPONENTES */
.component {
  position: absolute;
  cursor: grab;
}

.component img {
  width: 120px;
  height: auto;
  pointer-events: none;
  user-select: none;
}
