* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 220px;
  background: #1b1b1b;
  padding: 15px;
}

#sidebar button {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  background: #2d2d2d;
  border: none;
  color: #fff;
  cursor: pointer;
}

#sidebar button:hover {
  background: #444;
}

#main {
  flex: 1;
  padding: 15px;
}

#workspace {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: calc(100% - 60px);
  border: 2px dashed #555;
  background: #111;
  overflow: hidden;
}

/* COMPONENTES */
.component {
  position: absolute;
  width: 160px;
  background: #2a2a2a;
  border-radius: 6px;
  padding: 6px;
  cursor: grab;
}

.component h3 {
  text-align: center;
  font-size: 12px;
  margin: 4px 0;
  border-bottom: 1px solid #555;
}

/* BORNES */
.terminal {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
}

.label {
  position: absolute;
  font-size: 10px;
  color: #fff;
}

/* PADRÃO CONTATOR / DISJUNTOR */
.top-row { top: 30px; }
.bottom-row { bottom: 20px; }

.left { left: 15px; }
.center { left: 75px; }
.right { right: 15px; }

.side-right { right: 5px; }

/* BOTÕES */
.small {
  width: 110px;
}
