* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    color: #fff;
}

#app {
    display: flex;
    height: 100vh;
}

/* MENU */
#sidebar {
    width: 220px;
    background: #1b1b1b;
    padding: 15px;
}

#sidebar h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
}

.tool {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    background: #2d2d2d;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
}

.tool:hover {
    background: #444;
}

/* ÁREA PRINCIPAL */
main {
    flex: 1;
    padding: 15px;
}

#workspace {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: calc(100% - 80px);
    border: 2px dashed #555;
    background: #111;
    overflow: hidden;
}

/* COMPONENTES */
.component {
    position: absolute;
    cursor: grab;
}

.component:active {
    cursor: grabbing;
}

.component img {
    width: 90px;
    height: auto;
}

/* BOTÕES MENORES (−40%) */
.component.botao img,
.component.emergencia img {
    width: 55px;
}
