* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    color: #fff;
}

#app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
#sidebar {
    width: 220px;
    background: #1b1b1b;
    padding: 15px;
}

#sidebar h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
}

.tool {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    background: #2d2d2d;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
}

.tool:hover {
    background: #444;
}

/* ÁREA PRINCIPAL */
#main {
    flex: 1;
    padding: 15px;
}

#workspace {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: calc(100% - 80px);
    border: 2px dashed #555;
    background: #111;
    overflow: hidden;
}

/* COMPONENTES */
.component {
    position: absolute;
    cursor: grab;
}

.component:active {
    cursor: grabbing;
}

/* ESCALAS CORRETAS */

/* Disjuntor e Relé */
.component.disjuntor_motor img,
.component.rele_termico img{
    width: 160px;
    height: auto;
}

/* CONTATOR */
.component.contator_aberto img {
    width: 2400px; /* 160px x 2 */
    height: auto;
}

/* CONTATOR */
.component.contator_fechado img {
    width: 2400px; /* 160px x 2 */
    height: auto;
}

/* MOTOR */
.component.motor_off img {
    width: 2400px; /* 160px x 2 */
    height: auto;

}

/* MOTOR */
.component.motor_on img {
    width: 2400px; /* 160px x 2 */
    height: auto;
}

/* Botões */
.component.botao_liga img,
.component.botao_desliga img,
.component.emergencia img {
    width: 90px;
    height: auto;
}
